.side-nav {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 3rem;
}

.side-nav_link {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.2rem 3rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}

.side-nav_item-active {
  background-color: #777;
}

.side-nav_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
}
